[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-ollama = "*"
zabbix-utils = "*"

[dev-packages]
pytest = "*"
faker = "*"

[requires]
python_version = "3.12"

[scripts]
update-reqs = "bin/update-requirements.sh"
